@model IEnumerable<MVCHomeWork.Areas.HomeWork.Models.Contacts>

@if (Model.Count() > 0)
{
    <table class="table" id="taDataHead">
        <tr>
            <th style="width: 80px; cursor: pointer;" onclick="Sequence('JobTitle');">
                @Html.DisplayNameFor(p => p.JobTitle)
            </th>
            <th style="width: 60px;">
                @Html.DropDownList("ddlJobTitle", (SelectList)ViewBag.jobTitleList, "全部")
            </th>
            <th style="width: 100px; cursor: pointer;" onclick="Sequence('Name');">
                @Html.DisplayNameFor(p => p.Name)
            </th>
            <th style="width: 160px; cursor: pointer;" onclick="Sequence('Email');">
                @Html.DisplayNameFor(p => p.Email)
            </th>
            <th style="width: 100px; cursor: pointer;" onclick="Sequence('Phone');">
                @Html.DisplayNameFor(p => p.Phone)
            </th>
            <th style="width: 100px; cursor: pointer;" onclick="Sequence('Tel');">
                @Html.DisplayNameFor(p => p.Tel)
            </th>
            <th style="width: 120px;">
                @Html.DisplayNameFor(p => p.Company.CompanyName)
            </th>
            @if (!ViewBag.isEdit)
            {
                <th style="width: 100px;"></th>
            }
        </tr>
    </table>
    <table id="taContactDataList" class="table">@Html.Partial("PartialList", Model)</table>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlJobTitle").change(function () {
                if ($("#taDataHead").attr("data-sidx") === undefined) {
                    $("#taDataHead").attr("data-sort", "Id");
                    $("#taDataHead").attr("data-sidx", "asc");
                }
                Sequence();
            });
        });

        function Sequence(sort) {
            var model = {};
            setSequence("#taDataHead", sort);
            var model = $('#formQuery').MVCModelSerialize();
            model["sort"] = $("#taDataHead").attr("data-sort");
            model["sidx"] = $("#taDataHead").attr("data-sidx");
            model["selectJob"] = $("#ddlJobTitle").val();
            @if (!ViewBag.isEdit)
            {<text>
            var url = "@Url.Action("QueryList")";
            </text>}
            else
            {<text>
            var url = "@Url.Action("QueryContactList")";
            </text>}
            $("#taContactDataList").load(url, { model: model });
        }

        function setSequence(table, sort) {
            if (sort !== undefined) {
                if ($(table).attr("data-sort") != sort) {
                    $(table).attr("data-sort", sort);
                    $(table).attr("data-sidx", "asc")
                } else {
                    if ($(table).attr("data-sort") == sort) {
                        if ($(table).attr("data-sidx") == "asc") {
                            $(table).attr("data-sidx", "desc")
                        } else {
                            $(table).attr("data-sidx", "asc")
                        }
                    }
                }
            }
        }
    </script>
}
else
{
    <h3 style="color: red;">沒有資料</h3>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSave").remove();
        });
    </script>
}