@model IEnumerable<MVCHomeWork.Areas.作業一.Models.客戶資料>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th style="width: 150px;">
                @Html.DisplayNameFor(p => p.客戶名稱)
            </th>
            <th style="width: 60px;">
                @Html.DisplayNameFor(p => p.統一編號)
            </th>
            <th style="width: 80px;">
                @Html.DisplayNameFor(p => p.電話)
            </th>
            <th style="width: 80px;">
                @Html.DisplayNameFor(p => p.傳真)
            </th>
            <th style="width: 150px;">
                @Html.DisplayNameFor(p => p.地址)
            </th>
            <th style="width: 100px;">
                @Html.DisplayNameFor(p => p.Email)
            </th>
            <th style="width: 120px;">功能</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td style="word-wrap:break-word;word-break:break-all;">
                    @Html.DisplayFor(m => p.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(m => p.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(m => p.電話)
                </td>
                <td>
                    @Html.DisplayFor(m => p.傳真)
                </td>
                <td style="word-wrap:break-word;word-break:break-all;">
                    @Html.DisplayFor(m => p.地址)
                </td>
                <td>
                    @Html.DisplayFor(m => p.Email)
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-info" onclick="loadEdit('@p.Id', '@Url.Action("Edit", "客戶資料管理")')">編輯</button>
                    <button type="button" class="btn btn-xs btn-warning" onclick="loadEdit('@p.Id', '@Url.Action("Detail", "客戶資料管理")')">檢視</button>
                    <button type="button" class="btn btn-xs btn-danger" onclick="delCompanyData('@p.Id', '@p.客戶名稱')">刪除</button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3 style="color: red;">查無資料</h3>
}