@model MVCHomeWork.Areas.作業一.Models.客戶資料

@if (Model != null)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@(Model.Id == 0 ? "新增" : "編輯")客戶資料</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.isEdit)
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEdit", autocomplete = "off" }))
                    {
                        @Html.HiddenFor(p => p.Id)
                        @Html.Hidden("是否已刪除", Model.是否已刪除)
                        <ul class="inline">
                            <li class="li-xlarge">
                                @Html.LabelFor(p => p.客戶名稱)
                                @Html.TextBoxFor(p => p.客戶名稱, new { id = "txtConpanyName" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.統一編號)
                                @Html.TextBoxFor(p => p.統一編號, new { id = "txtConpanyNo" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.電話)
                                @Html.TextBoxFor(p => p.電話, new { id = "txtTel" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.傳真)
                                @Html.TextBoxFor(p => p.傳真, new { id = "txtFax" })
                            </li>
                            <li class="li-xxlarge">
                                @Html.LabelFor(p => p.地址)
                                @Html.TextBoxFor(p => p.地址, new { id = "txtAddress" })
                            </li>
                            <li class="li-xxlarge">
                                @Html.LabelFor(p => p.Email)
                                @Html.TextBoxFor(p => p.Email, new { id = "txtEmail" })
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="inline">
                        <li class="li-xlarge">
                            @Html.LabelFor(p => p.客戶名稱)
                            @Html.DisplayFor(p => p.客戶名稱)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.統一編號)
                            @Html.DisplayFor(p => p.統一編號)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.電話)
                            @Html.DisplayFor(p => p.電話)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.傳真)
                            @Html.DisplayFor(p => p.傳真)
                        </li>
                        <li class="li-xxlarge">
                            @Html.LabelFor(p => p.地址)
                            @Html.DisplayFor(p => p.地址)
                        </li>
                        <li class="li-xxlarge">
                            @Html.LabelFor(p => p.Email)
                            @Html.DisplayFor(p => p.Email)
                        </li>
                    </ul>
                }
            </div>
            <div class="modal-footer">
                @if (ViewBag.isEdit)
                {
                    if (Model.Id != 0)
                    {
                        <button type="button" class="btn btn-danger" onclick="delCompanyData('@Model.Id', '@Model.客戶名稱')">刪除</button>
                    }
                    <button type="button" class="btn btn-primary" onclick="$('#formEdit').submit();">儲存</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.formError').remove();">關閉</button>
            </div>
        </div>
    </div>
    if (ViewBag.isEdit)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.validator.unobtrusive.parse("#formEdit");
                $("#formEdit").makeValidationInline();
                $("#formEdit").submit(function (e) {
                    e.preventDefault();
                    if ($("#formEdit").validate().valid()) {
                        BlockUIWindow("...客戶資料儲存中...");
                        $.ajax({
                            url: "@Url.Action("Save", "客戶資料管理")",
                            type: 'POST',
                            data: $("#formEdit").serialize(),
                            success: function (data) {
                                alert(data.message);
                                if (data.isValid) {
                                    loadDataList($('#formQuery').MVCModelSerialize());
                                    $("#modalView").modal("hide");
                                } else {
                                    $.unblockUI();
                                }
                            }
                        });
                    }
                });
            });
        </script>
    }
}
else
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:red;">"客戶資料不存在</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
}