@model IEnumerable<MVCHomeWork.Areas.作業一.Models.客戶聯絡人>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(p => p.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Email)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.手機)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.電話)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.客戶資料.客戶名稱)
            </th>
            <th></th>
        </tr>

        @foreach (var p in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(m => p.職稱)
                </td>
                <td>
                    @Html.DisplayFor(m => p.姓名)
                </td>
                <td>
                    @Html.DisplayFor(m => p.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => p.手機)
                </td>
                <td>
                    @Html.DisplayFor(m => p.電話)
                </td>
                <td>
                    @Html.DisplayFor(m => p.客戶資料.客戶名稱)
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-info" onclick="loadEditContactPersonInfo('@p.客戶Id', '@p.Id', '@Url.Action("Edit", "客戶聯絡人管理")')">編輯</button>
                    <button type="button" class="btn btn-xs btn-warning" onclick="loadEditContactPersonInfo('@p.客戶Id','@p.Id', '@Url.Action("Detail", "客戶聯絡人管理")')">檢視</button>
                    <button type="button" class="btn btn-xs btn-danger" onclick="delContactPerson('@p.Id', '@p.姓名')">刪除</button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3 style="color: red;">查無資料</h3>
}