@model MVCHomeWork.Areas.作業一.Models.QueryContactPersonModel

<div class="col-md-12 content">
    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-heading">
            <h4>客戶聯絡人資料查詢</h4>
            <div class="pull-right" style="margin-top: -37px;">
                <button id="btnSearch" type="button" class="btn btn-success" onclick="loadDataList($('#formQuery').MVCModelSerialize());">查詢</button>
                <button id="btnCreateClient" type="button" class="btn btn-primary" onclick="loadEditContactPersonInfo(0, 0, '@Url.Action("Edit", "客戶聯絡人管理")');">新增</button>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formQuery", autocomplete = "off" }))
            {
            <ul class="inline">
                <li class="li-small">
                    @Html.LabelFor(p => p.統一編號)
                    @Html.TextBoxFor(p => p.統一編號)
                </li>
                <li class="li-xxlarge">
                    @Html.LabelFor(p => p.客戶名稱)
                    @Html.TextBoxFor(p => p.客戶名稱)
                </li>
                <li class="li-medium">
                    @Html.LabelFor(p => p.聯絡人姓名)
                    @Html.TextBoxFor(p => p.聯絡人姓名)
                </li>
            </ul>
            }
        </div>
    </div>
    <div id="ContactPersonList" class="panel panel-default" style="margin-top: -15px;">
        <div class="panel-heading">
            <h4 id="listTitle"></h4>
        </div>
        <div id="ContactPersonListView" class="panel-body"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ContactPersonList").hide();
    });
</script>