@model MVCHomeWork.Areas.作業一.Models.客戶聯絡人

@if (Model != null)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@(Model.Id == 0 ? "新增" : "編輯")客戶聯絡人</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.isEdit)
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEdit", autocomplete = "off" }))
                    {
                        <input id="Id" type="hidden" value="@Model.Id" name="Id">
                        @Html.HiddenFor(p => p.是否已刪除)
                        <ul class="inline">
                            @if (Model.客戶Id != 0)
                            {
                                <li class="li-xlarge">
                                    @Html.LabelFor(p => p.客戶資料.客戶名稱)
                                    @Html.DisplayFor(p => p.客戶資料.客戶名稱)
                                    <input id="客戶Id" type="hidden" value="@Model.客戶Id" name="客戶Id">
                                </li>
                            }
                            else
                            {
                                <li class="li-xlarge">
                                    @Html.LabelFor(p => p.客戶資料.客戶名稱)
                                    @Html.DropDownListFor(p => p.客戶Id, (SelectList)ViewBag.Client, new { id = "ddlClient", @class = "selectpicker" })
                                </li>
                            }
                            <li class="li-medium">
                                @Html.LabelFor(p => p.姓名)
                                @Html.TextBoxFor(p => p.姓名, new { id = "txtName" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.職稱)
                                @Html.TextBoxFor(p => p.職稱, new { id = "txtPosition" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.電話)
                                @Html.TextBoxFor(p => p.電話, new { id = "txtTel" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.手機)
                                @Html.TextBoxFor(p => p.手機, new { id = "txtPhone" })
                            </li>
                            <li class="li-xxlarge">
                                @Html.LabelFor(p => p.Email)
                                @Html.TextBoxFor(p => p.Email, new { id = "txtEmail" })
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="inline">
                        <li class="li-xlarge">
                            @Html.LabelFor(p => p.客戶資料.客戶名稱)
                            @Html.DisplayFor(p => p.客戶資料.客戶名稱)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.姓名)
                            @Html.DisplayFor(p => p.姓名)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.職稱)
                            @Html.DisplayFor(p => p.職稱)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.電話)
                            @Html.DisplayFor(p => p.電話)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.手機)
                            @Html.DisplayFor(p => p.手機)
                        </li>
                        <li class="li-xxlarge">
                            @Html.LabelFor(p => p.Email)
                            @Html.DisplayFor(p => p.Email)
                        </li>
                    </ul>
                }
            </div>
            <div class="modal-footer">
                <div id="btnOnList" class="pull-left" style="display: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.formError').remove(); $('#modalContactPersonListView').modal('show');">回清單</button>
                </div>
                @if (ViewBag.isEdit)
                {
                    if (Model.Id != 0)
                    {
                        <button type="button" class="btn btn-danger" onclick="delContactPerson('@Model.Id', '@Model.姓名');">刪除</button>
                    }
                    <button type="button" class="btn btn-primary" onclick="$('#formEdit').submit();">儲存</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.formError').remove();">關閉</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            @if (ViewBag.isEdit)
            {<text>
                @if (Model.客戶Id == 0)
                {<text>
                    $(".selectpicker").selectpicker();
                </text>}

                $.validator.unobtrusive.parse("#formEdit");
                $("#formEdit").makeValidationInline();
                $("#formEdit").submit(function (e) {
                    e.preventDefault();
                    if ($("#formEdit").validate().valid()) {
                        BlockUIWindow("...客戶聯絡人資料儲存中...");
                        $.ajax({
                            url: "@Url.Action("Save", "客戶聯絡人管理")",
                            type: 'POST',
                            data: $("#formEdit").serialize(),
                            success: function (data) {
                                alert(data.message);
                                if (data.isValid) {
                                    loadDataList($('#formQuery').MVCModelSerialize());
                                    $("#modalView").modal("hide");
                                } else {
                                    $.unblockUI();
                                }
                            }
                        });
                    }
                });

            $("#txtPhone").attr('data-rule-phoneTest', "手機格式輸入錯誤");
            $.validator.addMethod("phoneTest", function (value, element) {
                var phone = /^\d{4}-\d{6}$/;
                return value == '' || phone.test(value);
            }, function (msg) { return msg });
            </text>}

            if ($("#modalContactPersonListView").attr("data-clientid") == "@Model.客戶Id") {
                $("#btnOnList").show();
            }
        });
    </script>
}
else
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:red;">"聯絡人資料不存在</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
}
