@model MVCHomeWork.Areas.作業一.Models.客戶銀行資訊

@if (Model != null)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@(Model.Id == 0 ? "新增" : "編輯")客戶銀行資訊</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.isEdit)
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEdit", autocomplete = "off" }))
                    {
                        @*
                            有雷... helper 遇到中文欄位名稱 建出來的HTML沒有ID @口@
                            Hidden 更慘 當客戶Id = 1, Id = 0，用helper出來的Html 都會是客戶Id的值
                            @Html.HiddenFor(p => p.Id)
                            @Html.HiddenFor(p => p.客戶Id)
                        *@
                        <input id="Id" type="hidden" value="@Model.Id" name="Id">
                        @Html.HiddenFor(p => p.是否已刪除)
                        <ul class="inline">
                            @if (Model.客戶Id != 0)
                            {
                                <li class="li-xlarge">
                                    <input id="客戶Id" type="hidden" value="@Model.客戶Id" name="客戶Id">
                                    @Html.LabelFor(p => p.客戶資料.客戶名稱)
                                    @if (Model.Id == 0)
                                    {
                                        @ViewBag.Client
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(p => p.客戶資料.客戶名稱)
                                    }
                                </li>
                            }
                            else
                            {
                                <li class="li-xlarge">
                                    @Html.LabelFor(p => p.客戶資料.客戶名稱)
                                    @Html.DropDownListFor(p => p.客戶Id, (SelectList)ViewBag.Client, new { id = "ddlClient", @class = "selectpicker" })
                                </li>
                            }
                            <li class="li-xlarge">
                                @Html.LabelFor(p => p.銀行名稱)
                                @Html.TextBoxFor(p => p.銀行名稱, new { id = "txtBankName" })
                            </li>
                            <li class="li-mini">
                                @Html.LabelFor(p => p.銀行代碼)
                                @Html.TextBoxFor(p => p.銀行代碼, new { id = "txtBankCode", Value = Model.銀行代碼 == 0 ? "" : Model.銀行代碼.ToString() })
                            </li>
                            <li class="li-mini">
                                @Html.LabelFor(p => p.分行代碼)
                                @Html.TextBoxFor(p => p.分行代碼, new { id = "txtBranchCode" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.帳戶名稱)
                                @Html.TextBoxFor(p => p.帳戶名稱, new { id = "txtAccount" })
                            </li>
                            <li class="li-xxlarge">
                                @Html.LabelFor(p => p.帳戶號碼)
                                @Html.TextBoxFor(p => p.帳戶號碼, new { id = "txtAccountNo" })
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="inline">
                        <li class="li-xlarge">
                            @Html.LabelFor(p => p.客戶資料.客戶名稱)
                            @Html.DisplayFor(p => p.客戶資料.客戶名稱)
                        </li>
                        <li class="li-xlarge">
                            @Html.LabelFor(p => p.銀行名稱)
                            @Html.DisplayFor(p => p.銀行名稱)
                        </li>
                        <li class="li-mini">
                            @Html.LabelFor(p => p.銀行代碼)
                            @Html.DisplayFor(p => p.銀行代碼)
                        </li>
                        <li class="li-mini">
                            @Html.LabelFor(p => p.分行代碼)
                            @Html.DisplayFor(p => p.分行代碼)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.帳戶名稱)
                            @Html.DisplayFor(p => p.帳戶名稱)
                        </li>
                        <li class="li-xxlarge">
                            @Html.LabelFor(p => p.帳戶號碼)
                            @Html.DisplayFor(p => p.帳戶號碼)
                        </li>
                    </ul>
                }
            </div>
            <div class="modal-footer">
                <div id="btnOnList" class="pull-left" style="display: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.formError').remove(); $('#modalBankListView').modal('show');">回清單</button>
                </div>
                @if (ViewBag.isEdit)
                {
                    if (Model.Id != 0)
                    {
                        <button type="button" class="btn btn-danger" onclick="delBankData('@Model.Id', '@Model.銀行名稱');">刪除</button>
                    }
                    <button type="button" class="btn btn-primary" onclick="$('#formEdit').submit();">儲存</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.formError').remove();">關閉</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            @if (ViewBag.isEdit)
            {<text>

                @if (Model.客戶Id == 0)
                {<text>
                    $(".selectpicker").selectpicker();
                </text>}

                $.validator.unobtrusive.parse("#formEdit");
                $("#formEdit").makeValidationInline();
                $("#formEdit").submit(function (e) {
                    e.preventDefault();
                    if ($("#formEdit").validate().valid()) {
                        BlockUIWindow("...客戶銀行帳戶資料儲存中...");
                        $.ajax({
                            url: "@Url.Action("Save", "客戶銀行帳戶管理")",
                            type: 'POST',
                            data: $("#formEdit").serialize(),
                            success: function (data) {
                                alert(data.message);
                                if (data.isValid) {
                                    loadDataList($('#formQuery').MVCModelSerialize());
                                    $("#modalView").modal("hide");
                                } else {
                                    $.unblockUI();
                                }
                            }
                        });
                    }
                });
            </text>}

            if ($("#modalBankListView").attr("data-clientid") == "@Model.客戶Id") {
                $("#btnOnList").show();
            }
        });
    </script>
}
else
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:red;">"客戶銀行資料不存在</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
}