@model MVCHomeWork.Areas.HomeWork.Models.Company

@if (Model != null)
{
    <div class="col-md-12 content">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <h4>@(ViewBag.isEdit ? (Model.CompanyId == 0 ? "新增" : "編輯") : "")客戶資料</h4>
                <div class="pull-right" style="margin-top: -37px;">
                    <button type="button" class="btn btn-default" onclick="$('.formError').remove(); Backtrack();">回清單</button>
                    <button id="btnSave" type="button" class="btn btn-primary" onclick="$('#formEdit').submit();">@(ViewBag.isEdit ? "儲存" : "批次儲存聯絡人資料")</button>
                    @if (Model.CompanyId != 0)
                    {
                        <button type="button" class="btn btn-danger" onclick="delCompanyData('@Model.CompanyId', '@Model.CompanyName')">刪除</button>
                    }
                </div>
            </div>
            <div class="panel-body">
                @if (ViewBag.isEdit)
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEdit", autocomplete = "off" }))
                    {
                        @Html.HiddenFor(p => p.CompanyId, new { id = "hidKey" })
                        @Html.HiddenFor(p => p.IsDelete)
                        <ul class="inline">
                            <li class="li-xlarge">
                                @Html.LabelFor(p => p.CompanyName)
                                @Html.TextBoxFor(p => p.CompanyName)
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.CompanyNo)
                                @Html.TextBoxFor(p => p.CompanyNo)
                            </li>
                            <li class="li-medium">
                                <div style="visibility: hidden; height: 0;width:0;margin-left:145px">
                                    @Html.TextBox("txtCompanyType")
                                </div>
                                @Html.LabelFor(p => p.CompanyType)
                                @Html.DropDownListFor(p => p.CompanyType, (SelectList)ViewBag.Code, "請選擇", new { id= "ddlCompanyType", @class = "selectpicker" })
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.Tel)
                                @Html.TextBoxFor(p => p.Tel)
                            </li>
                            <li class="li-medium">
                                @Html.LabelFor(p => p.Fax)
                                @Html.TextBoxFor(p => p.Fax)
                            </li>
                            <li class="li-xxlarge">
                                @Html.LabelFor(p => p.Address)
                                @Html.TextBoxFor(p => p.Address)
                            </li>
                            <li class="li-xxlarge">
                                @Html.LabelFor(p => p.Email)
                                @Html.TextBoxFor(p => p.Email)
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="inline">
                        <li class="li-xlarge">
                            @Html.LabelFor(p => p.CompanyName)
                            @Html.DisplayFor(p => p.CompanyName)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.CompanyNo)
                            @Html.DisplayFor(p => p.CompanyNo)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.CompanyType)
                            @Html.Raw((string)ViewBag.Code)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.Tel)
                            @Html.DisplayFor(p => p.Tel)
                        </li>
                        <li class="li-medium">
                            @Html.LabelFor(p => p.Fax)
                            @Html.DisplayFor(p => p.Fax)
                        </li>
                        <li class="li-xxlarge">
                            @Html.LabelFor(p => p.Address)
                            @Html.DisplayFor(p => p.Address)
                        </li>
                        <li class="li-xxlarge">
                            @Html.LabelFor(p => p.Email)
                            @Html.DisplayFor(p => p.Email)
                        </li>
                    </ul>
                }
            </div>
        </div>
        @if (!ViewBag.isEdit)
        {
            <div class="panel panel-default" style="margin-top: -15px;">
                <div class="panel-heading">
                    <h4>客戶聯絡人清單</h4>
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEdit", autocomplete = "off" }))
                {
                    <div id="ContactList" class="panel-body">
                        @Html.Action("QueryContactList", "Contact", new { id = Model.CompanyId })
                    </div>
                }
            </div>
        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".selectpicker").selectpicker();

            $.validator.unobtrusive.parse("#formEdit");
            $("#formEdit").makeValidationInline();
            $("#formEdit").submit(function (e) {
                e.preventDefault();
                if ($("#formEdit").validate().valid()) {
                    @if (Model.CompanyId == 0)
                    {<text>
                    BlockUIWindow("...客戶資料儲存中...");
                    $.ajax({
                        url: "@Url.Action("Save", "Company")",
                        type: 'POST',
                        data: $("#formEdit").serialize(),
                        success: function (data) {
                            alert(data.message);
                            if (data.isValid) {
                                @if (Model.CompanyId == 0)
                                {<text>
                                $("#hidKey").val(data.id);
                                </text>}
                            }
                            $.unblockUI();
                        }
                    });
                    </text>}
                    else
                    {<text>
                    BlockUIWindow("...客戶聯絡人資料儲存中...");
                    var model = {};
                    $(".ContactData").each(function (i) {
                        var data = {};
                        $(".ContactData input").each(function () {
                            var elem = $(this).attr("id").split('_');
                            var j = elem[1];
                            if(i==j){
                                data[elem[3]] = this.value;
                            }
                        });
                        model[i] = data;
                    });
                    $.ajax({
                        url: "@Url.Action("BatchSave", "Contact")",
                        type: 'POST',
                        data: {model: model},
                        success: function (data) {
                            alert(data.message);
                            $.unblockUI();
                        }
                    });
                    </text>}
                }
            });

            @if (ViewBag.isEdit)
            {<text>
            $("#txtCompanyType").attr('data-rule-ddlRequired', "必需選擇客戶分類");
            $.validator.addMethod("ddlRequired", function (value, element) {
                return $("#ddlCompanyType").val() != '';
            }, function (msg) { return msg });
            </text>}
            else
            {<text>
            $(".Phone").attr('data-rule-phoneTest', "手機格式輸入錯誤");
            $.validator.addMethod("phoneTest", function (value, element) {
                var phone = /^\d{4}-\d{6}$/;
                return value == '' || phone.test(value);
            }, function (msg) { return msg });
            </text>}
        });
    </script>
}
else
{
    <div class="col-md-12 content">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <div class="pull-right" style="margin-top: -37px;">
                    <button type="button" class="btn btn-default" onclick="Backtrack();">回清單</button>
                </div>
            </div>
            <div class="panel-body">
                <h4 class="modal-title" style="color:red;">"客戶資料不存在</h4>
            </div>
        </div>
    </div>
}