@using MVCHomeWork.Areas.HomeWork.Models
@model int

<div id="CompanyBody" class="row" data-querymode="@Model">
    @Html.Partial("Query", new QueryCompanyModel());
</div>

<script type="text/javascript">
    function Backtrack() {
        $("#CompanyBody").empty().load("@Url.Action("Query")", function () {
            $.unblockUI();
        });
    }

    function loadDataList(model) {
        @if(Model == 0)
        {<text>
        var url = "@Url.Action("QueryDataList", "Company")";
        BlockUIWindow("...客戶資料清單載入中...");
        </text>}
        else
        {<text>
        var url = "@Url.Action("QueryList", "Company")";
        BlockUIWindow("...客戶清單載入中...");
        </text>}
        $("#ClientListView").empty().load(url, { model: model }, function () {
            $.unblockUI();
        });
    }

    function loadEdit(id, url) {
        if (id === 0) {
            BlockUIWindow("...新增客戶資料頁面載入中...");
        } else if (url.indexOf("Detail")) {
            BlockUIWindow("...客戶資料頁面載入中...");
        } else {
            BlockUIWindow("...編輯客戶資料頁面載入中...");
        }
        $("#CompanyBody").empty().load(url, { id: id }, function () {
            $.unblockUI();
        });
    }

    function delBankData(id, text) {
        if (confirm('是否要刪除' + text + '的資料?')) {
            BlockUIWindow("..." + text + "資料刪除中...");
            $.ajax({
                url: "@Url.Action("Delete", "Company")",
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    alert(data.message);
                    if (data.isValid) {
                        $("#CompanyBody").empty().load("@Url.Action("Index")");
                    }
                    $.unblockUI();
                }
            });
        }
    }
</script>
