@model IEnumerable<MVCHomeWork.Areas.HomeWork.Models.Company>

@if (Model.Count() > 0)
{
    <table class="table" id="taDataHead">
        <tr>
            <th style="width: 150px; cursor: pointer;" onclick="Sequence('CompanyName');" >
                @Html.DisplayNameFor(p => p.CompanyName)
            </th>
            <th style="width: 60px; cursor: pointer;" onclick="Sequence('CompanyNo');">
                @Html.DisplayNameFor(p => p.CompanyNo)
            </th>
            <th style="width: 80px; cursor: pointer;" onclick="Sequence('Tel');">
                @Html.DisplayNameFor(p => p.Tel)
            </th>
            <th style="width: 80px; cursor: pointer;" onclick="Sequence('Fax');">
                @Html.DisplayNameFor(p => p.Fax)
            </th>
            <th style="width: 150px; cursor: pointer;" onclick="Sequence('Address');">
                @Html.DisplayNameFor(p => p.Address)
            </th>
            <th style="width: 100px; cursor: pointer;" onclick="Sequence('Email');">
                @Html.DisplayNameFor(p => p.Email)
            </th>
            <th style="width: 120px;">功能</th>
        </tr>
    </table>
    <table id="taCompanyDataList" class="table">@Html.Partial("PartialDataList", Model)</table>

    <script type="text/javascript">
        function Sequence(sort) {
            setSequence("#taDataHead", sort);
            var model = $('#formQuery').MVCModelSerialize();
            model["sort"] = $("#taDataHead").attr("data-sort");
            model["sidx"] = $("#taDataHead").attr("data-sidx");
            $("#taCompanyDataList").empty().load("@Url.Action("QueryDataList")", { model: model });
        }

        function setSequence(table, sort) {
            if ($(table).attr("data-sort") != sort) {
                $(table).attr("data-sort", sort);
                $(table).attr("data-sidx", "asc")
            } else {
                if ($(table).attr("data-sort") == sort) {
                    if ($(table).attr("data-sidx") == "asc") {
                        $(table).attr("data-sidx", "desc")
                    } else {
                        $(table).attr("data-sidx", "asc")
                    }
                }
            }
        }
    </script>
}
else
{
    <h3 style="color: red;">沒有資料</h3>
}