@model MVCHomeWork.Areas.HomeWork.Models.QueryCompanyModel

<div class="col-md-12 content">
    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-heading">
            <h4>客戶資料查詢</h4>
            <div class="pull-right" style="margin-top: -37px;">
                <button type="button" class="btn btn-success" onclick="ExportXLS($('#formQuery').MVCModelSerialize());">匯出XLS</button>
                <button id="btnSearch" type="button" class="btn btn-success" onclick="loadDataList($('#formQuery').MVCModelSerialize());">查詢</button>
                <button id="btnCreateClient" type="button" class="btn btn-primary" onclick="loadEdit(0, '@Url.Action("Edit", "Company")');">新增</button>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formQuery", autocomplete = "off" }))
            {
                <ul class="inline">
                    <li class="li-small">
                        @Html.LabelFor(p => p.CompanyNo)
                        @Html.TextBoxFor(p => p.CompanyNo)
                    </li>
                    <li class="li-xlarge">
                        @Html.LabelFor(p => p.CompanyName)
                        @Html.TextBoxFor(p => p.CompanyName)
                    </li>
                </ul>
            }
        </div>
    </div>
    <div id="ClientList" class="panel panel-default" style="margin-top: -15px;">
        <div class="panel-heading">
            <h4 id="listTitle"></h4>
        </div>
        <div id="ClientListView" class="panel-body"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        loadDataList($('#formQuery').MVCModelSerialize());
    });
</script>